<h1 class="title is-1">Channel: {{channelName}}</h1>
<h2 class="subtitle is-5">User: {{username}}</h2>
<button (click)="logOut()">Log out</button>

<div *ngIf="isGroupAdmin">
    <input class="" type="text" placeholder="username" [(ngModel)]='newUsername' id='newUsername' name='newUsername'>
    <button (click)="addUserToChannel()">Add new user</button>
</div>

<br>
<br>
<h2 class="title is-3">Users:</h2>
<ul *ngIf="listOfUsers && (!isSuperAdmin && !isGroupAdmin)">
    <li *ngFor="let user of listOfUsers">
        User: {{user}}
    </li>
</ul>
<ul *ngIf="listOfUsers && (isGroupAdmin)">
    <li *ngFor="let user of listOfUsers">
        User: {{user}} <button (click)="removeUser(user)">Remove user</button>
    </li>
</ul>