<h1 class="title is-1">{{title}}</h1>
<h2 class="subtitle is-3">Welcome {{username}}</h2>
<div class="content">
  <p>
    Your email is registered as: {{email}}
  </p>
  <form (submit)="updateEmail($event)">
    <input class="input" type="email" [(ngModel)]='emailField' name='emailField' placeholder="example@email.com">
    <div class="control">
      <button class="button is-primary">Update email</button>
    </div>
  </form>

  
  <button (click)="logOut()">Log out</button>
</div>

<ul *ngIf="groups">
    <li *ngFor="let group of groups">
        Group: {{group.name}} <button (click)="viewChannels(group)">View channels</button>
    </li>
</ul>

<!-- <ul *ngIf="showChannelsBool">
    <li *ngFor="let channel of channels">
        Channel: {{channel}}
    </li>
</ul> -->
