<h1 class="title is-1">{{title}}</h1>
<h2 class="subtitle is-3" *ngIf="isSuperAdmin && isGroupAdmin">Welcome {{username}}, you are a super admin</h2>
<h2 class="subtitle is-3" *ngIf="!isGroupAdmin">Welcome {{username}}</h2>
<h2 class="subtitle is-3" *ngIf="isGroupAdmin && !isSuperAdmin">Welcome {{username}}, you are a group admin</h2>

<div class="content">
  <br>
  <p>
    Your email is registered as: {{email}}
  </p>
  <form (submit)="updateEmail($event)">
    <input class="input" type="email" [(ngModel)]='emailField' name='emailField' placeholder="example@email.com">
    <div class="control">
      <button class="button is-primary">Update email</button>
    </div>
  </form>

  <br>
  <br>
  <button (click)="logOut()">Log out</button>
</div>


<div *ngIf="isGroupAdmin || isSuperAdmin" class="container">
    <div class="notification">
      <form (submit)="createGroup($event)">
        <div class="field has-addons has-addons-centered">
            <label class="label is-large">New group name:</label>
            <div class="control">
                <input class="input" type="text" placeholder="group name" [(ngModel)]='createGroupName' id='createGroupName' name='createGroupName'>
            </div>
            <div class="control">
              <button class="button is-primary">Create group</button>
            </div>
        </div>
      </form>
    </div>
  </div>

<br>
<br>
<h2 class="title is-3">Your groups:</h2>
<ul *ngIf="groups && (!isGroupAdmin && !isSuperAdmin)">
    <li *ngFor="let group of groups">
        Group: {{group.name}} <button (click)="viewGroup(group)">View channels</button>
    </li>
</ul>

<!-- <h2 *ngIf="isGroupAdmin || isSuperAdmin" class="title is-3">Admin panel for groups:</h2> -->
<ul *ngIf="allGroups && (isGroupAdmin || isSuperAdmin)">
    <li *ngFor="let group of allGroups">
        Group: {{group}} <button (click)="viewGroup(group)">View channels</button> <button (click)="removeGroup(group)">Remove group</button>
    </li>
</ul>

<div *ngIf="isSuperAdmin">
  <br>
  <br>
  <h2 class="title is-3">Users in chat system:</h2>
  <input type="text" placeholder="username" [(ngModel)]='usernameMakeAdmin' id='usernameMakeAdmin' name='usernameMakeAdmin'>
  <button (click)="userMakeAdminGroup()">Make user a group admin</button>
  <button (click)="userMakeAdminSuper()">Make user a super admin</button>
  <br>
  <ul>
      <li *ngFor="let user of listOfUsers">
          User: {{user}} 
          <button (click)="removeUserFromSystem(user)">Remove user from system</button>
      </li>
  </ul>
</div>

